<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="stylesheetfiles">
    <meta charset="UTF-8">
    <title>Stylesheet Fragment</title>
</head>
<body>
<div th:fragment="stylesheets">
    <link rel="stylesheet" href="..static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/><!-- Bootstrap -->
    <link rel="stylesheet" href="..static/css/icons.min.css" th:href="@{/css/icons.min.css}"/><!-- Icons -->
    <link rel="stylesheet" href="..static/css/style.css" th:href="@{/css/style.css}"/><!-- Style -->
    <link rel="stylesheet" href="..static/css/responsive.css" th:href="@{/css/responsive.css}"/><!-- Responsive -->
    <link rel="stylesheet" href="..static/css/color.css" th:href="@{/css/color.css}"/><!-- Default Color Scheme -->
</div>

</body>
</html>