<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Register card</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(images/pg-tp-bg.jpg);
        }
    </style>

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='Add Card', currentpage = 'cardregistration')"></section>
    <!-- Secondary Header Text -->
    <section>
        <section>
            <div class="spacing">
                <div class="container">
                    <div class="blog-detail-wrp">
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-lg-9">
                                <div class="blog-detail">
                                    <div class="comment-reply">
                                        <h5 itemprop="headline">REGISTRATION FORM</h5>
                                        <form class="reply-form" th:action="@{/cardregistration}" th:object="${CardRegistrationDTO}" method="post">
                                            <div class="row" style="text-align: center">
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{cardholderName}"></p>
                                                    <input type="text" name="txt_username" id="txt_card_owner" class="form-control" placeholder="Card Owner" th:field="*{cardholderName}" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{securityCode}"></p>
                                                    <input type="number" name="txt_username" id="txt_cvc" class="form-control" placeholder="CVC" th:field="*{securityCode}" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12" id="card-number-field">
                                                    <p class="error-field" th:errors="*{cardNumber}"></p>
                                                    <input type="text" name="txt_username" id="txt_card_number" class="form-control" placeholder="Card Number" onkeyup="addHyphen(this)" th:field="*{cardNumber}" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{expirationDate}"></p>
                                                    <input type="text" name="txt_username" id="txt_expiration" class="form-control" placeholder="Expiration date" th:field="*{expirationDate}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <button class="theme-btn theme-bg brd-rd30" type="submit">REGISTER CARD
                                                </button>
                                            </div>
                                        </form>
                                    </div><!-- Comment Reply -->
                                </div>
                            </div>
                        </div>
                    </div><!-- Blog Detail Wrap -->
                </div>
            </div>
        </section>

    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<!--<script src="..static/js/registration/script.js" th:src="@{/js/registration/script.js}"></script>-->
<!--<script src="..static/js/registration/jquery.payform.min.js" th:src="@{/js/registration/jquery.payform.min.js}"></script>-->

<script src="..static/js/registration/jquery.creditCardValidator.js" th:src="@{/js/registration/registration/jquery.creditCardValidator.js}"></script>
<script>
    function addHyphen (element) {
        let ele = document.getElementById(element.id);
        ele = ele.value.split('-').join('');    // Remove dash (-) if mistakenly entered.

        let finalVal = ele.match(/.{1,4}/g).join('-');
        document.getElementById(element.id).value = finalVal;
    }
</script>
<!--scripts-->
</body>
</html>
