<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Search Results</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <div th:insert="fragments/stylesheetfragment :: header-photos"></div>

    <!-- Styles -->
</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Header -->
    <header class="stick style1" th:insert="fragments/headerfragment :: header"> </header>
    <!-- Header -->
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='Search Result', currentpage = 'Search Result')"></section>
    <!-- Secondary Header Text -->
    <section>
        <div class="spacing">
            <div class="container">
                <div class="form-group">
                <form th:action="@{createwallet}">
                    <button style="margin:15px;" class="theme-btn theme-bg brd-rd30" type="submit">+ ADD WALLET
                    </button>
                </form>
                </div>
                <div class="ico-stat-tabl brd-rd5">
                    <table>
                        <thead><tr><th>NAME</th><th>AMOUNT</th><th>IS DEFAULT?</th><th>SET AS DEFAULT</th><th>TRANSFER</th><th>DELETE WALLET</th><th></th></tr></thead>
                        <tbody th:each="wallet : ${walletList}">
                        <tr>
                            <!--                            Wallet Name-->
                            <td><div th:text="${wallet.name}" style="font-size: 14px"></div></td>
                            <!--                        First name-->
                            <td><div style="font-size: 14px">$<span
                                    th:text="${wallet.balance}"></span></div></td>
                            <!--                        Last name-->
                            <td><div th:text="${wallet.isWalletDefault()}" style="font-size: 14px"></div></td>
                            <!--                        Send money-->
                            <td><div class="col-md-12 col-sm-12 col-lg-12">
                                <form th:if="${!wallet.isWalletDefault()}" th:action="@{/mywallets/setdefault}">
                                    <button th:name="id" th:value="${wallet.getId()}" class="theme-btn theme-bg brd-rd30" type="submit">SET DEFAULT
                                    </button>
                                </form>
                            </div></td>
                            <td><div class="col-md-12 col-sm-12 col-lg-12">
                                <form th:action="@{/betweenmywallets}">
                                    <button th:name="walletReceiverId" th:value="${wallet.getId()}" class="theme-btn theme-bg brd-rd30" style="color: white; background-color: green; border-color: green" type="submit">TRANSFER $
                                    </button>
                                </form>
                            </div></td>
                            <td><div class="col-md-12 col-sm-12 col-lg-12">
                                <form>
                                    <button class="theme-btn theme-bg brd-rd30" style="color: white; background-color: red; border-color: red" type="submit">DELETE
                                    </button>
                                </form>
                            </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- ICO Stats Table -->
                <div class="pagination-wrap text-center">
                    <div class="pagination">
                        <div class="page-item prev brd-rd50"><a class="page-link" href="#" title="" itemprop="url"><i class="fa fa-angle-double-left"></i></a></div>

                        <div class="page-item brd-rd30" th:each="page : ${pages}">
                            <a class="page-link" th:href="@{/userslist/(page=${page})}" th:text="${page}" href="#" title="" itemprop="url"></a>
                        </div>
                        <div class="page-item next brd-rd50"><a class="page-link" href="#" title="" itemprop="url"><i class="fa fa-angle-double-right"></i></a></div>
                    </div>
                </div><!-- Pagination Wrap -->
            </div>
        </div>
    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<!--scripts-->
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content=""/>-->
<!--    <meta name="keywords" content=""/>-->
<!--    <title>My Wallets</title>-->

<!--    &lt;!&ndash; Styles &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>-->
<!--    <div th:insert="fragments/stylesheetfragment :: mywallets-stylesheet"></div>-->
<!--    <div th:insert="fragments/stylesheetfragment :: header-photos"></div>-->
<!--    &lt;!&ndash; Styles &ndash;&gt;-->
<!--</head>-->
<!--<body itemscope>-->
<!--&lt;!&ndash; Pageloader &ndash;&gt;-->
<!--<div th:insert="fragments/pageloaderfragment :: pageloader"></div>-->
<!--&lt;!&ndash; Pageloader &ndash;&gt;-->
<!--<main>-->
<!--    &lt;!&ndash; Header &ndash;&gt;-->
<!--    <header class="stick style1" th:insert="fragments/headerfragment :: header"> </header>-->
<!--    &lt;!&ndash; Header &ndash;&gt;-->
<!--    &lt;!&ndash; Secondary Header &ndash;&gt;-->
<!--    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>-->
<!--    &lt;!&ndash; Secondary Header &ndash;&gt;-->
<!--    &lt;!&ndash; Secondary Header Text &ndash;&gt;-->
<!--    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='My Wallets', currentpage = 'My Wallets')"></section>-->
<!--    &lt;!&ndash; Secondary Header Text &ndash;&gt;-->
<!--    <section>-->
<!--        <div class="container">-->
<!--            <div class="table-wrapper">-->
<!--                <div class="table-title">-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-4">-->
<!--                            <h2>My <b>Wallets</b>-->
<!--                            </h2>-->
<!--                        </div>-->
<!--                        <div class="col-sm-8">-->
<!--&lt;!&ndash;                        <div class="col-sm-4">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a th:href="@{/createwallet}" class="btn btn-info add-new" style="background-color: #FFC107"><i class="fa fa-plus"></i>Transfer Between Wallets</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="row-sm-8">&ndash;&gt;-->
<!--&lt;!&ndash;                            <form th:action="@{/createwallet}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <button class="theme-btn theme-bg brd-rd30" type="submit">TRANSFER BETWEEN MY WALLETS&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                            </form>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <a th:href="@{/createwallet}" class="btn btn-info add-new"  style="background-color: #FFC107"><i class="fa fa-plus"></i>Add New Wallet</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            <form th:action="@{/createwallet}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <button class="theme-btn theme-bg brd-rd30" type="submit">ADD NEW WALLET&ndash;&gt;-->
<!--&lt;!&ndash;                                </button>&ndash;&gt;-->
<!--&lt;!&ndash;                            </form>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <table class="table table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Name</th>-->
<!--                        <th>Amount</th>-->
<!--                        <th>Is Default?</th>-->
<!--                        <th>Actions</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody th:each="wallet : ${walletList}">-->
<!--                    <tr>-->
<!--                        <td><h6><div th:text="${wallet.name}"></div></h6></td>-->
<!--                        <td><h6><div th:text="${wallet.balance}"></div></h6></td>-->
<!--                        <td><h6><div th:text="${wallet.isWalletDefault()}"></div></h6></td>-->
<!--                        <td style="position: relative">-->
<!--                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>-->
<!--                            <a th:href="@{/mywallets/editwallet(id=${wallet.id})}" class="edit" title="Edit Name" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>-->
<!--                            <div th:if="${!wallet.isWalletDefault()}">-->
<!--                            <a th:href="@{/mywallets/setdefault(id=${wallet.id})}" class="edit" title="Set as default?" data-toggle="tooltip"><i class="material-icons">&#xE86C;</i></a>-->
<!--                            </div>-->
<!--                            <div th:unless="${!wallet.isWalletDefault()}">-->
<!--                                <a class="edit" title="This is your default wallet" data-toggle="tooltip"><i class="material-icons">&#xE000;</i></a>-->
<!--                            </div>-->
<!--                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--                <div class="row-sm-8">-->
<!--                    <form th:action="@{/createwallet}">-->
<!--                        <button class="theme-btn theme-bg brd-rd30" type="submit">TRANSFER BETWEEN MY WALLETS-->
<!--                        </button>-->
<!--                    </form>-->
<!--                    &lt;!&ndash;                            <a th:href="@{/createwallet}" class="btn btn-info add-new"  style="background-color: #FFC107"><i class="fa fa-plus"></i>Add New Wallet</a>&ndash;&gt;-->
<!--                    <form th:action="@{/createwallet}">-->
<!--                        <button class="theme-btn theme-bg brd-rd30" type="submit">ADD NEW WALLET-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-3 col-sm-6 col-lg-3">-->
<!--            <div class="sidebar-wrap">-->
<!--                <div class="widget">-->
<!--                    <h6 itemprop="headline">TOTAL MONEY AVAILABLE</h6>-->
<!--                    <form class="srch-frm">-->
<!--                        <h5 itemprop="headline" style="text-align: center">$<span-->
<!--                                th:text="${availableSum}"></span></h5>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="widget">-->
<!--                    <h6 itemprop="headline">SEARCH</h6>-->
<!--                    <div class="jn-frm-wrp">-->
<!--                        <form class="jn-frm" th:action="@{/search}" method="get">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-12 col-sm-12 col-lg-12">-->
<!--                                    <input type="text" th:name="text" placeholder="Contact"-->
<!--                                           minlength="4" required>-->
<!--                                </div>-->
<!--                                <div class="col-md-12 col-sm-12 col-lg-12">-->
<!--                                    <div class="slc-wrp">-->
<!--                                        <select th:name="criterium" class="selectpicker show-tick">-->
<!--                                            <option th:value="username">Username</option>-->
<!--                                            <option th:value="phonenumber">Phone number</option>-->
<!--                                            <option th:value="email">E-mail</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-12 col-sm-12 col-lg-12">-->
<!--                                    <button class="theme-btn theme-bg" type="submit">Search</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; Sidebar Wrap &ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;        footer&ndash;&gt;-->
<!--    <footer th:insert="fragments/footerfragment :: footer"></footer>-->
<!--    &lt;!&ndash;        footer&ndash;&gt;-->
<!--    &lt;!&ndash;        copyright&ndash;&gt;-->
<!--    <div th:insert="fragments/footerfragment :: copyright"></div>-->
<!--    &lt;!&ndash;        copyright&ndash;&gt;-->
<!--</main>&lt;!&ndash; Project Main Wrapper &ndash;&gt;-->
<!--&lt;!&ndash;scripts&ndash;&gt;-->
<!--<div th:insert="fragments/scriptsfragments :: scripts"></div>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;    $(document).ready(function(){&ndash;&gt;-->
<!--&lt;!&ndash;        $('[data-toggle="tooltip"]').tooltip();&ndash;&gt;-->
<!--&lt;!&ndash;        var actions = $("table td:last-child").html();&ndash;&gt;-->
<!--&lt;!&ndash;        // Append table with add row form on add new button click&ndash;&gt;-->
<!--&lt;!&ndash;        $(".add-new").click(function(){&ndash;&gt;-->
<!--&lt;!&ndash;            $(this).attr("disabled", "disabled");&ndash;&gt;-->
<!--&lt;!&ndash;            var index = $("table tbody tr:last-child").index();&ndash;&gt;-->
<!--&lt;!&ndash;            var row = '<tr>' +&ndash;&gt;-->
<!--&lt;!&ndash;                '<td><input type="text" class="form-control" name="name" id="name"></td>' +&ndash;&gt;-->
<!--&lt;!&ndash;                '<td><input type="text" class="form-control" name="department" id="department"></td>' +&ndash;&gt;-->
<!--&lt;!&ndash;                '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +&ndash;&gt;-->
<!--&lt;!&ndash;                '<td>' + actions + '</td>' +&ndash;&gt;-->
<!--&lt;!&ndash;                '</tr>';&ndash;&gt;-->
<!--&lt;!&ndash;            $("table").append(row);&ndash;&gt;-->
<!--&lt;!&ndash;            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();&ndash;&gt;-->
<!--&lt;!&ndash;            $('[data-toggle="tooltip"]').tooltip();&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;        // Add row on add button click&ndash;&gt;-->
<!--&lt;!&ndash;        $(document).on("click", ".add", function(){&ndash;&gt;-->
<!--&lt;!&ndash;            var empty = false;&ndash;&gt;-->
<!--&lt;!&ndash;            var input = $(this).parents("tr").find('input[type="text"]');&ndash;&gt;-->
<!--&lt;!&ndash;            input.each(function(){&ndash;&gt;-->
<!--&lt;!&ndash;                if(!$(this).val()){&ndash;&gt;-->
<!--&lt;!&ndash;                    $(this).addClass("error");&ndash;&gt;-->
<!--&lt;!&ndash;                    empty = true;&ndash;&gt;-->
<!--&lt;!&ndash;                } else{&ndash;&gt;-->
<!--&lt;!&ndash;                    $(this).removeClass("error");&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->
<!--&lt;!&ndash;            $(this).parents("tr").find(".error").first().focus();&ndash;&gt;-->
<!--&lt;!&ndash;            if(!empty){&ndash;&gt;-->
<!--&lt;!&ndash;                input.each(function(){&ndash;&gt;-->
<!--&lt;!&ndash;                    $(this).parent("td").html($(this).val());&ndash;&gt;-->
<!--&lt;!&ndash;                });&ndash;&gt;-->
<!--&lt;!&ndash;                $(this).parents("tr").find(".add, .edit").toggle();&ndash;&gt;-->
<!--&lt;!&ndash;                $(".add-new").removeAttr("disabled");&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;        // Edit row on edit button click&ndash;&gt;-->
<!--&lt;!&ndash;        $(document).on("click", ".edit", function(){&ndash;&gt;-->
<!--&lt;!&ndash;            $(this).parents("tr").find("td:not(:last-child)").each(function(){&ndash;&gt;-->
<!--&lt;!&ndash;                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->
<!--&lt;!&ndash;            $(this).parents("tr").find(".add, .edit").toggle();&ndash;&gt;-->
<!--&lt;!&ndash;            $(".add-new").attr("disabled", "disabled");&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;        // Delete row on delete button click&ndash;&gt;-->
<!--&lt;!&ndash;        $(document).on("click", ".delete", function(){&ndash;&gt;-->
<!--&lt;!&ndash;            $(this).parents("tr").remove();&ndash;&gt;-->
<!--&lt;!&ndash;            $(".add-new").removeAttr("disabled");&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--&lt;!&ndash;scripts&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
