<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Registration</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(images/pg-tp-bg.jpg);
        }
    </style>
    <!-- Styles -->

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='Registration', currentpage = 'Registration')"></section>
    <!-- Secondary Header Text -->
        </section>
        <section>
            <div class="spacing">
                <div class="container">
                    <div class="blog-detail-wrp">
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-lg-9">
                                <div class="blog-detail">
                                    <div class="comment-reply">
                                        <h5 itemprop="headline">REGISTRATION FORM</h5>
                                        <form class="reply-form" th:action="@{/registration}" th:object="${UserRegistrationDTO}" method="post" name="form1"
                                              enctype="multipart/form-data">
                                            <div class="row" style="text-align: center">
                                                <p>
                                                    <i th:if="${error != null}" th:text="${error}" class="error-field"></i>
                                                </p>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{username}"></p>
                                                    <input type="text" name="txt_username" id="txt_username" class="form-control" placeholder="Username (Obligatory)" th:field="*{username}" minlength=3 maxlength=30 required>
                                                </div>
                                                <span id="availability"></span>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{password}"></p>
                                                    <input type="password" placeholder="Password (Obligatory)" th:field="*{password}" minlength=6 maxlength=16 required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <input type="password" placeholder="Retype password (Obligatory)" th:field="*{passwordConfirmation}" minlength=6 maxlength=16 required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{phoneNumber}"></p>
                                                    <input type="text" placeholder="08XXXXXXXX (Obligatory)" th:field="*{phoneNumber}" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <p class="error-field" th:errors="*{email}"></p>
                                                    <input type="email" name='text1' placeholder="Email Address (Obligatory)" th:field="*{email}" required>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <input type="text" placeholder="First Name (Optional)" th:field="*{firstName}">
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <input type="text" placeholder="Last Name (Optional)" th:field="*{lastName}">
                                                </div>
                                                <p>Add pic (Optional)</p>
                                                <input type="file" name="file" class="form-control-file"
                                                       id="userDetails" th:field="*{file}"/>
                                                <input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
                                                <p class="error-field" th:errors="*{file}"></p>
                                                <label class="error"></label>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <button class="theme-btn theme-bg brd-rd30" type="submit" onclick="ValidateEmail(document.form1.text1)">SUBMIT NOW
                                                </button>
                                            </div>
                                        </form>
                                    </div><!-- Comment Reply -->
                                </div>
                            </div>
                        </div>
                    </div><!-- Blog Detail Wrap -->
                </div>
            </div>
        </section>
        <!--        footer-->
        <footer th:insert="fragments/footerfragment :: footer"></footer>
        <!--        footer-->
        <!--        copyright-->
        <div th:insert="fragments/footerfragment :: copyright"></div>
        <!--        copyright-->
    </main><!-- Project Main Wrapper -->
    <!--scripts-->
    <div th:insert="fragments/scriptsfragments :: scripts"></div>
    <script>
        function ValidateEmail(inputText)
        {
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(!inputText.value.match(mailformat))
        {
            alert("You have entered an invalid email address!");

        }
    }</script>
    <!--scripts-->
</body>
</html>