<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Set Default Wallet</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <div th:insert="fragments/stylesheetfragment :: header-photos"></div>

    <!-- Styles -->

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='Create Wallet', currentpage = 'Registration')"></section>
    <!-- Secondary Header Text -->
    <div class="spacing">
        <div class="container">
            <div class="blog-detail-wrp">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="blog-detail">
                            <div class="comment-reply">
                                <h5 itemprop="headline">Are you sure you wish to set <span th:text="*{wallet.getName()}"></span> as your default wallet?</h5>
                                <form th:action="@{/mywallets/setdefault}" th:object="${walletUpdateDTO}" class="reply-form" method="post" name="form1">
                                    <div class="form-group">
                                        <select th:field="*{id}" class="form-control" id="wallet" style="display: none;">
                                            <option th:value="${wallet.getId()}"
                                                    th:text="${wallet.getId()}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <button class="theme-btn theme-bg brd-rd30" type="submit">SET DEFAULT
                                        </button>
                                    </div>
                                </form>
                            </div><!-- Comment Reply -->
                        </div>
                    </div>
                </div>
            </div><!-- Blog Detail Wrap -->
        </div>
    </div>
    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>

<!--scripts-->
</body>
</html>