<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sing Up Form</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">

    <link rel="stylesheet" th:href="@{/css/stylish-portfolio.css}" href="../static/css/stylish-portfolio.css">

    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"
          href="../static/font-awesome/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/Register.css}"
          href="../static/Register.css">

</head>

<body>

<div id="top" class="header">

    <div class="vert-text">

        <div class="container">
            <form action="#" th:action="@{/test-registration}" th:object="${UserRegistrationDTO}" method="post"
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="username" th:field="*{username}"/>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="email" th:field="*{email}"/>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="password" th:field="*{password}"/>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" placeholder="phone" th:field="*{phoneNumber}"/>
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>

<!--                    <div>-->
<!--                        <h4 class="right">Add pic</h4>-->
<!--                        <div class="float-right1"><label>-->
<!--                            <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1"-->
<!--                                   th:field="*{file}"/>-->
<!--                            <input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>-->
<!--                            <label class="error" th:errors="*{file}"></label>-->
<!--                        </label>-->
<!--                        </div>-->

                    </div>
                </div>
                <div class="row">
                    <div class="input-group input-group-icon">
                    </div>
                    <input type="submit" value="Register"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
