<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Confirm identity</title>
    <link rel="stylesheet" href="..static/css/picture.css" th:href="@{/css/picture.css}"/>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(images/pg-tp-bg.jpg);
        }
    </style>
    <!-- Styles -->

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Header -->
    <header class="stick style1" th:insert="fragments/headerfragment :: header"></header>
    <!-- Header -->
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section>
        <div class="spacing">
            <div class="container">
                <div class="blog-detail-wrp">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-lg-9">
                            <div class="blog-detail">
                                <div class="team-detail-inf-inr">
                                    <div class="row">
                                        <h5 itemprop="headline">Confirm identity</h5>
                                        <img th:src="@{'data:image/jpeg; base64,'+${confirmIdentity.getFront_picture()}}"
                                             alt="" src=""
                                             style="width: 1500px; border-radius: 8px; padding: 5px">
                                        <img th:src="@{'data:image/jpeg; base64,'+${confirmIdentity.getRear_picture()}}"
                                             alt="" src=""
                                             style="width: 1500px; border-radius: 8px;padding: 5px">
                                        <img th:src="@{'data:image/jpeg; base64,'+${confirmIdentity.getSelfie()}}"
                                             alt="" src=""
                                             style="width: 1500px; border-radius: 8px; padding: 5px">

                                            <form th:action="@{/admin/{username}/confirm-identity(username=${user.getUsername()})}"
                                                  method="post">
                                                <input class="theme-btn theme-bg brd-rd30" type="submit"
                                                       value="confirm identity"/>
                                            </form>
                                    </div>

                                </div><!-- Post Author -->
                                <!-- Comment Reply -->
                            </div>
                        </div>
                    </div>
                </div><!-- Blog Detail Wrap -->
            </div>
        </div>

    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<!--scripts-->
</body>
</html>



