<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Refresh" content="2; http://localhost:8181/admin" />


    <title>Successfully deleted identity request!</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <!-- Styles -->

</head>

<body>

<div class="pageloader blue-bg">
    <h3 style="text-align: center;color: #f0f0f0; position:relative; top:150px;">Successfully deleted identity request!</h3>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

</body>


</html>