<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Update Password</title>
    <link rel="stylesheet" href="..static/css/picture.css" th:href="@{/css/picture.css}"/>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(images/pg-tp-bg.jpg);
        }
    </style>
    <!-- Styles -->

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Header -->
    <header class="stick style1" th:insert="fragments/headerfragment :: header"></header>
    <!-- Header -->
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section>
        <div class="spacing">
            <div class="container">
                <div class="blog-detail-wrp">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-lg-9">
                            <div class="blog-detail">
                                <div class="team-detail-inf-inr">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="team-detail-inf-itm">
                                                <h5 itemprop="headline">Edit profile </h5>
                                                <form class="reply-form" th:action="@{/profile/information}"
                                                      th:object="${profileUpdateDTO}"
                                                      method="post" name="form1"
                                                      enctype="multipart/form-data">
                                                    <div class="row" style="text-align: center">
                                                        <p>
                                                            <i th:if="${error != null}" th:text="${error}"
                                                               class="error-field"></i>
                                                        </p>
                                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                                            <p class="error-field" th:errors="*{phoneNumber}"></p>
                                                            <input type="text" placeholder="Phone number (Obligatory)"
                                                                   th:field="*{phoneNumber}" required>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                                            <p class="error-field" th:errors="*{email}"></p>
                                                            <input type="email" name='text1'
                                                                   placeholder="Email Address (Obligatory)"
                                                                   th:field="*{email}" required>
                                                        </div>
                                                        <p>Choose pic (Optional)</p>
                                                        <input type="file" name="file" class="form-control-file"
                                                               id="userDetails" th:field="*{file}"/>
                                                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
                                                        <p class="error-field" th:errors="*{file}"></p>
                                                        <button class="theme-btn theme-bg brd-rd30" type="submit">SUBMIT
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Post Author -->
                                <!-- Comment Reply -->
                            </div>
                        </div>
                    </div>
                </div><!-- Blog Detail Wrap -->
            </div>
        </div>
    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<!--scripts-->
</body>
</html>



