<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Virtual Wallet</title>
<!--    <link rel="stylesheet" href="..static/css/picture.css" th:href="@{/static/css/picture.css}"/>-->

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(images/pg-tp-bg.jpg);
        }
    </style>
    <!-- Styles -->

</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Header -->
    <header class="stick style1" th:insert="fragments/headerfragment :: header"> </header>
    <!-- Header -->
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='', currentpage = 'Profile')"></section>
    <!-- Secondary Header Text -->
        <section>
            <div class="spacing">
                <div class="container">
                    <div class="blog-detail-wrp">
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-lg-9">
                                <div class="blog-detail">
                                    <div class="team-detail-inf-inr">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                <div class="team-detail-inf-itm">
                                                    <h5 itemprop="headline">Profile Details:</h5>
                                                    <ul class="team-inf-lst">
                                                        <li><i class="fas fa-user theme-clr"></i>
                                                            <span th:text="${user.getFirstName()}"></span>
                                                            <span th:text="${user.getLastName()}"></span></li>
                                                        <li><i class="fas fa-phone theme-clr"></i><span th:text="${user.getPhoneNumber()}"></span> </li>
                                                        <li><i class="far fa-envelope-open theme-clr"></i><span th:text="${user.getEmail()}"></span></li>
                                                            <th:block th:each="card : ${user.getCardDetails()}">
                                                                <li><i class="far fa-credit-card theme-clr"></i><span th:text="${card.getCardNumber()}"></span></li>
                                                            </th:block>
                                                    </ul>
                                                </div>
                                            </div>
                                            <img th:src="@{'data:image/jpeg; base64,'+${user.getPicture()}}" alt="" src="" style="width: 250px; height: 250px; border-radius: 8px">
                                        </div>
                                    </div><!-- Post Author -->
                                    <!-- Comment Reply -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="sidebar-wrap">
                                    <div class="widget">
                                        <h6 itemprop="headline">TOTAL MONEY AVAILABLE</h6>
                                        <form class="srch-frm">
                                            <h5 itemprop="headline" style="text-align: center">$<span th:text="${availableSum}"></span></h5>
                                        </form>
                                    </div>
                                    <div class="widget">
                                        <h6 itemprop="headline">SEARCH</h6>
                                        <div class="jn-frm-wrp">
                                            <form class="jn-frm" th:action="@{/search}" method="get">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <input type="text" th:name="text" placeholder="Contact" minlength="4" required>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <div class="slc-wrp">
                                                            <select th:name="criterium" class="selectpicker show-tick">
                                                                <option th:value="username">Username</option>
                                                                <option th:value="phonenumber">Phone number</option>
                                                                <option th:value="email">E-mail</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <button class="theme-btn theme-bg" type="submit">Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- Sidebar Wrap -->
                            </div>
                        </div>
                    </div><!-- Blog Detail Wrap -->
                </div>
            </div>
        </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<script>
    $(function() {
        $('.selectpicker').selectpicker();
    });
</script>
<!--scripts-->
</body>
</html>