<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Virtual Wallet</title>

    <!-- Styles -->
    <div th:insert="fragments/stylesheetfragment :: stylesheets"></div>
    <style>
        .fixed-bg {
            background-image: url(../../static/images/pg-tp-bg.jpg);
        }

        .fixed-bg2 {
            background-image: url(../../static/images/pg-tp-bg.jpg);
        }
    </style>
    <!-- Styles -->
</head>
<body itemscope>
<!-- Pageloader -->
<div th:insert="fragments/pageloaderfragment :: pageloader"></div>
<!-- Pageloader -->
<main>
    <!-- Header -->
    <header class="stick style1" th:insert="fragments/headerfragment :: header"> </header>
    <!-- Header -->
    <!-- Secondary Header -->
    <div class="res-header" th:insert="fragments/headerfragment :: secondary-header"></div>
    <!-- Secondary Header -->
    <!-- Secondary Header Text -->
    <section th:replace="fragments/headerfragment :: secondary-header-text(headline='Users List', currentpage = 'Users List')"></section>
    <!-- Secondary Header Text -->
    <section>
        <div class="spacing">
            <div class="container">
                <div class="ico-stat-tabl brd-rd5">
                    <table>
                        <thead><tr><th>ID</th><th>USERNAME</th><th>E-MAIL</th><th>PHONE NUMBER</th><th>PICTURE</th><th>FIRST NAME</th><th>LAST NAME</th><th></th></tr></thead>
                        <tbody th:each="user : ${users}">
                        <tr>
                            <!--                            User ID-->
                            <td><div th:text="${user.getId()}"></div></td>
                            <!--                            Username-->
                            <td><div th:text="${user.getUsername()}"></div></td>
                            <!--                            Email-->
                            <td><div th:text="${user.getEmail()}"></div></td>
                            <!--                            Phone number-->
                            <td><div th:text="${user.getPhoneNumber()}"></div></td>
                            <!--                            Picture-->
                            <td><img th:src="@{'data:image/jpeg; base64,'+${user.getPicture()}}" width="50" height="50" alt="" src="">
                                <img th:if="${user.picture.isEmpty()}"
                                     src="http://louisville.edu/research/handaresearchlab/pi-and-students/photos/nocamera.png/image_view_fullscreen"  width="50" height="50" alt="">
                            </td>
                            <!--                        First name-->
                            <td><div th:text="${user.getFirstName()}"></div></td>
                            <!--                        Last name-->
                            <td><div th:text="${user.getLastName()}"></div></td>
                            <!--                        Send money-->
                            <td><div class="col-md-12 col-sm-12 col-lg-12">
                                <button class="theme-btn theme-bg brd-rd30" type="submit">SEND MONEY
                                </button>
                            </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- ICO Stats Table -->
                <div class="pagination-wrap text-center">
                    <div class="pagination">
                        <div class="page-item prev brd-rd50">
                            <a class="page-link" th:href="@{/userslist/(page=${page - 1})}" href="#" title="" itemprop="url"><i class="fa fa-angle-double-left"></i></a>
                        </div>
                        <div class="page-item brd-rd30">
                            <a class="page-link" th:href="@{/userslist/(page=${page})}" th:text="${page}" href="#" title="" itemprop="url"></a>
                        </div>
                        <div class="page-item next brd-rd50">
                            <a class="page-link" th:href="@{/userslist/(page=${page + 1})}" href="#" title="" itemprop="url"><i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div><!-- Pagination Wrap -->
            </div>
        </div>
    </section>
    <!--        footer-->
    <footer th:insert="fragments/footerfragment :: footer"></footer>
    <!--        footer-->
    <!--        copyright-->
    <div th:insert="fragments/footerfragment :: copyright"></div>
    <!--        copyright-->
</main><!-- Project Main Wrapper -->
<!--scripts-->
<div th:insert="fragments/scriptsfragments :: scripts"></div>
<!--scripts-->
</body>
</html>
